<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - PTP Multiservice Pvt Ltd</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("MIDAMS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Admin", "Index", "Admin/Dashboard")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>*@
    @*<div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p class="text-center">&copy; @DateTime.Now.Year - MIDAMS</p>
        </footer>
    </div>*@

    <div class="main_container">

        <div class="header">
            <div class="logo">
                <a href="/Home/Index"><i><img src="~/Assets/images/logo.png"></i></a>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="javascript:void(0)">Home</a></li>
                    <li><a href="javascript:void(0)">About Us</a></li>
                    <li><a href="javascript:void(0)">Clients</a></li>
                    <li><a href="javascript:void(0)">Contact Us</a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
        <div class="banner_img">
            <div class="banner_content">
                <div class="banner_content1 banner_slide"><img src="~/Assets/images/banner1.jpg" /></div>
                <div class="banner_content2 banner_slide"><img src="~/Assets/images/banner2.jpg" /></div>
            </div>
        </div>

        @RenderBody()

        <div class="footer">
            <h1>copyright &copy; 2020</h1>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.banner_content').bxSlider();
            $('.our_clients_content').bxSlider();
            $(".about_info_right_content").height(Number($(".about_info_left_content").height() + 2))
        });
    </script>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
