@model MIDAMS.Areas.Admin.ViewModels.MapEmployeeViewModel

@{
    ViewBag.Title = "Map Employees to Client";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    int srNo = 1;
}

<h2 class="adminTitle">@ViewBag.Title</h2>

@Html.ActionLink("Map Employee", "New", "MapEmployees", null, new { @class = "btn btn-primary commonNewAddBtn" })

<div class="tableDiv">
    <table class="table table-bordered table-hover table-responsive table-striped">
        <thead>
            <tr>
                <th>Sr</th>
                <th>Client Name</th>
                <th>Map Employees</th>
                <th style="width: 20%;">Action</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model.MapEmployeesToClients.GroupBy(c => c.ClientId, (key, g) => new { ClientId = key, Employees = g.ToList() }))
                {
                    <tr>
                        <td>@srNo</td>
                        <td>@Model.Clients.FirstOrDefault(x => x.Id == item.ClientId).ClientName</td>
                        <td>@item.Employees.Count</td>
                        <td>                            
                            @Html.ActionLink("View Employees", "ViewEmployees", "MapEmployees", new { id = item.ClientId }, new { @class = "btn btn-link" }) |
                            @using (@Html.BeginForm("Delete", "Clients", FormMethod.Post, new { style = "display: inline;", onClick = "return confirm('Are you sure you want tp perform this action?')" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("id", item.ClientId)

                                <button type="submit" class="btn btn-link">Delete</button>
                            }
                        </td>
                    </tr>
                    srNo++;
                }
            }
        </tbody>
    </table>
</div>

