@model MIDAMS.Areas.Admin.ViewModels.MapEmployeeViewModel

@{
    ViewBag.Title = "Manage Employees for " + Model.ClientName;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    int srNo = 1;
}

<h2 class="adminTitle">@ViewBag.Title</h2>

<div class="tableDiv">
    <table class="table table-bordered table-hover table-responsive table-striped">
        <thead>
            <tr>
                <th>Sr</th>
                <th>Name</th>
                <th style="width: 20%;">Action</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model.MapEmployeesToClients)
                {
                    <tr>
                        <td>@srNo</td>
                        <td>
                            @{
                                var employee = @Model.Employees.FirstOrDefault(x => x.Id == item.EmployeeId);
                                var fullName = employee.FirstName + " " + employee.MiddleName + " " + employee.LastName;
                            }
                            @fullName
                        </td>
                        <td>
                            @using (@Html.BeginForm("UnMapEmployee", "MapEmployees", FormMethod.Post, new { style = "display: inline;", onClick = "return confirm('Are you sure you want tp perform this action?')" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("id", item.Id)
                                @Html.Hidden("client_id", item.ClientId)

                                <button type="submit" class="btn btn-link">Delete</button>
                            }

                            @*@Html.ActionLink("Unmap Employee", "UnMapEmployee", new { id = item.Id }, null)*@
                        </td>
                    </tr>
                    srNo++;
                }
            }
        </tbody>
    </table>
</div>

