@model MIDAMS.Areas.Admin.ViewModels.ResponsibleSiteViewModel

@{
    ViewBag.Title = "Manage Partner Responsible Sites for " + Model.PartnerName + "";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    int srNo = 1;
}

<h2 class="adminTitle">@ViewBag.Title</h2>

@Html.ActionLink("Add Responsible Site", "AddResponsibleSite", "Partners", new { PartnerId = Model.PartnerId }, new { @class = "btn btn-primary commonNewAddBtn" })

<div class="tableDiv">
    <table class="table table-bordered table-hover table-responsive table-striped">
        <thead>
            <tr>
                <th>Sr</th>
                <th>Name Of The Site</th>
                <th>Location</th>
                <th>Site Code</th>
                <th>Start Date Of Site</th>
                <th>Management Fees Percent Amount</th>
                <th>Total Billing Value Of Site</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model.PartnerResponsibleSites)
                {
                    <tr>
                        <td>@srNo</td>
                        <td>@item.NameOfTheSite</td>
                        <td>@item.Location</td>
                        <td>@item.SiteCode</td>
                        <td>@item.StartDateOfSite</td>
                        <td>@item.ManagementFeesPercentAmount</td>
                        <td>@item.TotalBillingValueOfSite</td>
                        <td>
                            @Html.ActionLink("View", "ViewResponsibleSite", "Partners", new { id = item.Id }, new { @class = "btn btn-link" }) |
                            @Html.ActionLink("Edit", "EditResponsibleSite", "Partners", new { id = item.Id }, new { @class = "btn btn-link" }) |
                            @using (@Html.BeginForm("DeleteResponsibleSite", "Partners", FormMethod.Post, new { style = "display: inline;", onClick = "return confirm('Are you sure you want tp perform this action?')" }))
                            {
                                @Html.AntiForgeryToken()

                                <input type="hidden" name="ResponsibleSiteId" value="@item.Id" />
                                <input type="hidden" name="PartnerId" value="@item.PartnerId" />

                                <button type="submit" class="btn btn-link">Delete</button>
                            }
                        </td>
                    </tr>
                    srNo++;
                }
            }
        </tbody>
    </table>
</div>

@Html.ActionLink("Back to Partners List", "Index", "Partners", null, new { @class = "btn btn-link" })

