@model MIDAMS.Areas.Admin.ViewModels.TearmsConditionFormViewModel

@{
    ViewBag.Title = "Partner Tearms and Conditions Form";
}

<h2>@ViewBag.Title</h2>

<div class="main-block">
    @using (Html.BeginForm("SaveTearmsCondition", "Partners", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="info">
            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.PartnerId)
            @Html.AntiForgeryToken()
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })

            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.ProfitLossSharingPercent, new { @class = "col-sm-4 col-form-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.ProfitLossSharingPercent, new { @class = "form-control" })
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.MonthlyIncentivesIfAny, new { @class = "col-sm-4 col-form-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.MonthlyIncentivesIfAny, new { @class = "form-control" })
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.YearlyIncentivesIfAny, new { @class = "col-sm-4 col-form-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.YearlyIncentivesIfAny, new { @class = "form-control" })
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.OtherPerksIfAny, new { @class = "col-sm-4 col-form-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.OtherPerksIfAny, new { @class = "form-control" })
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.NoticePeriod, new { @class = "col-sm-4 col-form-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.NoticePeriod, new { @class = "form-control" })
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.OtherTermsIfAny, new { @class = "col-sm-4 col-form-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.OtherTermsIfAny, new { @class = "form-control" })
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-12 text-center">
                    <input type="submit" class="btn btn-primary" value="Save" />
                </div>
            </div>
        </div>
    }
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}