@model MIDAMS.Areas.Admin.ViewModels.TearmsConditionViewModel

@{
    ViewBag.Title = "Manage Partner Tearms and Conditions for " + Model.PartnerName + "";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    int srNo = 1;
}

<h2 class="adminTitle">@ViewBag.Title</h2>

@Html.ActionLink("Add Tearms and Conditions", "AddTearmsCondition", "Partners", new { PartnerId = Model.PartnerId }, new { @class = "btn btn-primary commonNewAddBtn" })

<div class="tableDiv">
    <table class="table table-bordered table-hover table-responsive table-striped">
        <thead>
            <tr>
                <th>Sr</th>
                <th>Profit Loss Sharing Percent</th>
                <th>Monthly Incentives</th>
                <th>Yearly Incentives</th>
                <th>Other Perks</th>
                <th>Notice Period</th>
                <th>Other Terms</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model.PartnerTearmsConditions)
                {
                    <tr>
                        <td>@srNo</td>
                        <td>@item.ProfitLossSharingPercent</td>
                        <td>@item.MonthlyIncentivesIfAny</td>
                        <td>@item.YearlyIncentivesIfAny</td>
                        <td>@item.OtherPerksIfAny</td>
                        <td>@item.NoticePeriod</td>
                        <td>@item.OtherTermsIfAny</td>
                        <td>
                            @Html.ActionLink("View", "ViewTearmsCondition", "Partners", new { id = item.Id }, new { @class = "btn btn-link" }) |
                            @Html.ActionLink("Edit", "EditTearmsCondition", "Partners", new { id = item.Id }, new { @class = "btn btn-link" }) |
                            @using (@Html.BeginForm("DeleteTearmsCondition", "Partners", FormMethod.Post, new { style = "display: inline;", onClick = "return confirm('Are you sure you want tp perform this action?')" }))
                            {
                                @Html.AntiForgeryToken()

                                <input type="hidden" name="TearmsConditionId" value="@item.Id" />
                                <input type="hidden" name="PartnerId" value="@item.PartnerId" />

                                <button type="submit" class="btn btn-link">Delete</button>
                            }
                        </td>
                    </tr>
                    srNo++;
                }
            }
        </tbody>
    </table>
</div>

@Html.ActionLink("Back to Partners List", "Index", "Partners", null, new { @class = "btn btn-link" })

