@model MIDAMS.Areas.Admin.ViewModels.ViewDocumentDetailViewModel

@{
    ViewBag.Title = "Partner Document Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div class="main-block">

    <div class="info">
        <hr />

        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.AdharNo, new { @class = "col-sm-4 col-form-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.AdharNo, new { @class = "form-control", disabled = "disabled" })
                </div>
            </div>
        </div>
                
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.AdharName, new { @class = "col-sm-4 col-form-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.AdharName, new { @class = "form-control", disabled = "disabled" })
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.AdharDateOfBirth, new { @class = "col-sm-4 col-form-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.AdharDateOfBirth, new { @class = "form-control", disabled = "disabled" })
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.AdharAddress, new { @class = "col-sm-4 col-form-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.AdharAddress, new { @class = "form-control", disabled = "disabled" })
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.PanNo, new { @class = "col-sm-4 col-form-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.PanNo, new { @class = "form-control", disabled = "disabled" })
                </div>
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.PanName, new { @class = "col-sm-4 col-form-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.PanName, new { @class = "form-control", disabled = "disabled" })
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.PanFatherName, new { @class = "col-sm-4 col-form-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.PanFatherName, new { @class = "form-control", disabled = "disabled" })
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.PanDateOfBirth, new { @class = "col-sm-4 col-form-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.PanDateOfBirth, new { @class = "form-control", disabled = "disabled" })
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-12 text-center">
                @Html.ActionLink("Back", "DocumentDetail", "Partners", new { id = Model.PartnerId }, new { @class = "btn btn-primary" })
            </div>
        </div>

    </div>
</div>

<style>
    .form-control {
        border: none;
        background: #fff !important;
        box-shadow: none;
    }
</style>