@using MIDAMS.Models
@model LoginViewModel
@{
    ViewBag.Title = "Administrator Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="text-center" style="margin-top:100px;">
    <a href="/Home/Index"><i><img src="~/Assets/images/logo.png"></i></a>
</div>

<h2 class="text-center" style="margin-top:25px;">@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-12">
        <section id="loginForm" style="background: #fff; text-align: center;padding: 30px 60px;margin: 25px auto;
    width: 50%;">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Enter your credentials</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control text-center", placeholder = "Enter Email." })         
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">                    
                    <div class="col-md-12">                        
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control text-center", placeholder = "Enter Password." })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>                
                <div class="form-group">
                    <div class="col-md-12 text-center">
                        <input type="submit" value="Log in" class="btn btn-danger" style="margin-top:15px;"/>
                    </div>
                </div>                
            }
        </section>
    </div>    
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}